<div data-dojo-type="${baseClass}"
     data-dojo-attach-point="focusNode">

    <div data-dojo-type="dojox/layout/TableContainer"
         data-dojo-props="cols:1"
         style="width: 100%">

        <div data-dojo-attach-point="webMap"
             data-dojo-type="ngw-resource/ResourceBox"
             data-dojo-props="cls: 'webmap'"
             title="{{gettext 'Web map'}}"
             style="width: 100%"></div>

        <div data-dojo-type="dijit/form/NumberTextBox"
             data-dojo-attach-point="ellipseZoomVisible"
             title="{{gettext 'Displaying ellipses zoom'}}"
             style="width: 100%"
             value=""></div>
    </div>

    <div style="margin-top:10px;">
        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="buttonSave"
                class="dijitButton--primary">{{gettext 'Save'}}
        </button>
    </div>


</div>
